@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');

:root {
	--main-bg: #E5FCFF;
	--container-bg: #ABDAFC;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Cabin', sans-serif;
	font-size: 1em;
}

html, body {
	width: 100vw;
	height: fit-content;
	overflow-x: hidden;
}

body {
	box-sizing: border-box;
	padding-left: 5em;
	padding-right: 5em;
	background-color: #C9E7FD;
}

a {
	text-decoration: none;
}

#title {
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-size: 2.5em;
	display: inline-block;
}

#version {
	font-size: 0.75em;
	display: inline-block;
}

#top {
	background-color: white;
	padding: 1em;
	border-radius: 1em;
	box-shadow: 0px 0em 1em rgba(0, 0, 0, 0.25);
}

#top > * {
	font-size: 1.5em;
	display: inline-block;
	margin-right: 1em;
}

#top > .right {
	float: right;
}

#sharelink-container {
	text-align: center;
	height: 1.5em;
}

section {
	margin-top: 1em;
	background-color: white;
	border-radius: 1em;
	padding: 1em;
	box-shadow: 0px 0em 1em rgba(0, 0, 0, 0.25);
	margin-bottom: 1em;
}

textarea {
	padding: 0.5em;
}

button {
	padding: 0.5em;
	background-color: #eee;
	border: none;
}

.section-title {
	font-size: 1.5em;
	margin-bottom: 0.5em;
}

#artifacts {
	width: 100%;
	resize: none;
	height: 10em;
}

.input-character {
	width: 2em;
	height: 2em;
	border: none;
	cursor: pointer;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
}

#input-container {
	display: flex;
	flex-direction: row;
	margin-bottom: 1em;
}

#in {
	font-family: monospace;
	flex-grow: 1;
}

#input-container > button {
	margin-left: 0.5em;
	margin-right: 0.5em;
	width: 5em;
}