html, body {
	margin: 0;
	padding: 0;
	background-color: #F4F4F4;
}

p {
	font-family: 'Questrial';
}

#header {
	box-sizing: border-box;
	width: 80%;
	height: 4em;
	margin-left: 10%;
	background-color: lightskyblue;
	display: flex;
	flex-direction: row;
}

#header p {
	color: white;
	font-size: 1.5em;
	margin-left: 1em;
	padding: 0;
	margin: 0;
	line-height: 2.75em;
	margin-left: 1em;
}

#header #title {
	font-size: 2em;
	line-height: 2em;
	font-weight: bold;
}

#header a {
	text-decoration: none;
	color: white;
}

#header #tagline {
	font-size: 1em;
	flex-grow: 1;
	text-align: end;
	padding-right: 1em;
	font-style: italic;
}

#share {
	margin-left: 10%;
}

#sharelink {
	font-family: monospace;
	text-decoration: none;
	margin-left: 0.5em;
	font-size: 1em;
}

#artifact-container, #input-container {
	margin-left: 10%;
	margin-bottom: 2em;
	width: 80%;
	padding: 1em;
	box-sizing: border-box;
	vertical-align: top;
}

#artifact-container {
	min-height: 20em;
	display: flex;
	flex-direction: column;
}

#artifacts {
	resize: none;
	width: 100%;
	flex-grow: 1;
	overflow-y: scroll;
}

.container-title {
	font-size: 1.5em;
	margin: 0;
	padding: 0;
}

#input-buttons {
	display: flex;
	flex-direction: row;
	margin-bottom: 0.5em;
}

.input-btn {
	width: 3em;
	height: 3em;
	margin-right: 0.5em;
}

.console-action {
	width: 5em;
	height: 2em;
	font-size: 1em;
}

#out {
	margin-left: 1em;
	padding-bottom: 1em;
	height: 40em;
	overflow-y: scroll;
}

#in {
	font-size: 1em;
	width: 30em;
	padding: 0.25em;
}

.bxs {
	background-color: #edfcff;
	border-radius: 3px;
	box-shadow: 0px 3px 0px 0px #ccc;
}


#is {
	margin-bottom: 20px;
	padding-bottom: 20px;
	box-shadow: 3px 3px 0px 0px #ccc;
	width: 80%;
	margin-left: 10%;
}